<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>VUE</title>
    <script src="https://unpkg.com/vue"></script>

</head>
<body>
<div class="container">
<div id="root">
    <ul>
        <li v-for="name in names"> {{name}}</li>
    </ul>
    <input type="text" v-model="newName">
    <button class="btn btn-primary" @click="addName">Add name</button>
</div>
</div>

<script>
  var root =  new Vue({
        el: '#root',
        data: {
            newName: '',
            names: ['JOhn','Tom','Daw']
        },
        methods: {
            addName(){
            this.names.push(this.newName)

            this.newName = '';
            }
        }
    })
</script>
</body>
</html>