body{
    background: #263238;
}
#app{
    font-family: 'Avenir', Helvetica , Arial , sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:#fff;
    margin-top: 60px;
}
.character-card{
    border: 2px solid #4fc08d;
    border-radius: 4px;
    cursor: pointer;
}