<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue App</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
</head>
<body>
<div id="app">
    <div class="">
        Count: {{count}}
    </div>
    <button class="vue-btn" @click="increment">Increment</button>

</div>
<script>


    var app = new Vue({
        el: '#app',
        data: {
        count: 0
        },
        methods:{
            increment(){
                this.count++
            }
        },
        created(){
            this.alerTime()
        },
        mounted(){
            this.alertTime()
        },
        updated(){
            console.log('this.count',this.count)
        }

    })
</script>

</body>
</html>