<template>
    <div class="">
        Type: {{type}}
    </div>
</template>

<script>
    export default {
    data(){
        return{
            type: this.$route.params.type,
            items: []
        }
    },
        watch:{
        '$route':'fetchItems'
        },
        methods:{
        fetchItems(){
            this.type = this.$route.params.type
        }
        }
    }
</script>

<style scoped>

</style>