body{
    background: #263238;
}
#app{
    font-family: 'Avenir', Helvetica , Arial , sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:#fff;
    margin-top: 60px;
}
.link, .link:hover ,.link:visited ,.link:active{
    color: #4fc08d;
}