<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-Learning</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
</head>
<body>
<div id="app"> {{ text }}</div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                text:'Vue Learning'
            }
        })
    </script>

</body>
</html>