<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
</head>
<body>
<div id="app">
<ul>
    <li v-for="color in colors" v-if="color.primary"> {{color.text}} </li>
</ul>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            colors: [
                {
                    text:'red',
                    primary:true
                },
                {
                    text:'green',
                    primary:false
                },
                {
                    text:'blue',
                    primary:true
                }

            ]
        }
    })
</script>

</body>
</html>